<h2><i class='glyphicon glyphicon-stats'> Comparison Analysis</i></h2>
<%= link_to 'Go Back', root_path, class: 'btn btn-primary' %>
<%= high_chart('comp_chart', @comp_chart) %>
<%= high_chart('comp_chart_1', @comp_chart) %>
<%= high_chart('comp_chart_2', @comp_chart) %>
<%= high_chart('comp_chart_3', @comp_chart) %>
