<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<table class="table table-hover">

		<tr>
			<th>KEY</th>
			<th>VALUE</th>
		</tr>

		<tr>
			<td>User ID</td>
			<td><%= f.select(:user_id, @users.map{|t|[t.name, t.id]}) %></td>
		</tr>

		<tr>
			<td>Role ID</td>
			<td><%= f.select(:role_id, @roles.map{|t|[t.name, t.id]}) %></td>
		</tr>

		<tr>
			<td>Organization ID</td>
			<td><%= f.select(:organization_id, @organizations.map{|t|[t.name, t.id]}) %></td>
		</tr>

		<tr>
			<td>Start Date</td>
    	<td><%= f.date_select :start_date %></td>
		</tr>

		<tr>
			<td>End Date</td>
    	<td><%= f.date_select :end_date %></td>
		</tr>

		<tr>
			<td>Status</td>
			<td><%= f.select(:status_id, @statuses.map{|t|[t.name, t.id]}) %></td>
		</tr>

		<tr>
			<td>Description</td>
    	<td><%= f.text_field :description %></td>
		</tr>
	</table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
