<h2><i class="glyphicon glyphicon-tasks"> Assignment List</i></h2>

<p id="notice"><%= notice %></p>

<div class='tab'>

<table class="table table-hover">
  <thead>
    <tr>
      <th>USER</th>
      <th>ROLE</th>
      <th>ORGANIZATION</th>
			<th>DESCRIPTION</th>
      <th>START DATE</th>
      <th>END DATE</th>
      <th>STATUS</th>
			<th width="150">ACTION</th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.user.name %></td>
        <td><%= assignment.role.name %></td>
        <td><%= assignment.organization.name %></td>
				<td><%= assignment.description %></td>
        <td><%= assignment.start_date %></td>
        <td><%= assignment.end_date %></td>
        <td><%= assignment.status.name %></td>
        <td><%= link_to 'Show', assignment, class: "btn btn-primary btn-block" %>
        <%= link_to 'Edit', edit_assignment_path(assignment), class: "btn btn-primary btn-block" %>
        <%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-block" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<%= link_to 'New Assignment', new_assignment_path %>
