<h2><i class='glyphicon glyphicon-info-sign'> Show Assignment</i></h2>
<p id="notice"><%= notice %></p>

<div class='tab'>

<table class='table table-hover'>
	<caption>Assignment Information</caption>

	<tr>
		<th>KEY</th>
		<th>VALUE</th>
	</tr>

	<tr>
		<td>User</td>
		<td><%= @assignment.user_id %></td>
	</tr>

	<tr>
		<td>Role</td>
		<td><%= @assignment.role_id %></td>
	</tr>

	<tr>
		<td>Organization</td>
		<td><%= @assignment.organization_id %></td>
	</tr>
	
	<tr>
		<td>Start Date</td>
		<td><%= @assignment.start_date %></td>
	</tr>

	<tr>
		<td>End Date</td>
		<td><%= @assignment.end_date %></td>
	</tr>

	<tr>
		<td>Status</td>
		<td><%= @assignment.status.name %></td>
	</tr>

	<tr>
		<td>Description</td>
		<td><%= @assignment.description %></td>
	</tr>
</table>

</div>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
