<%= form_for(@statement_type) do |f| %>
  <% if @statement_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@statement_type.errors.count, "error") %> prohibited this statement_type from being saved:</h2>

      <ul>
      <% @statement_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br>
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :updated_at %><br>
    <%= f.datetime_select :updated_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
