<h2><i class="glyphicon glyphicon-user"> Users List</i></h2>

<p id="notice"><%= notice %></p>

<div class='tab'>

<table class="table table-hover">
  <thead>
    <tr>
			<th>MEMBER ID</th>
			<th>SCREEN NAME</th>
			<th>USER NAME</th>
			<th>USER TYPE</th>
			<th>STATUS</th>
			<th width="150">ACTION</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
				<td><%= user.uid %></td>
				<td><%= user.screen_name %></td>
				<td><%= user.name %></td>
				<td><%= user.user_type.name %></td>
				<td><%= user.status.name %></td>
        <td><%= link_to 'Show', user, class: 'btn btn-primary btn-block' %>
        <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-primary btn-block' %>
        <%= link_to 'Destroy', user, class: 'btn btn-primary btn-block', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<% if @current_user.user_type.name == 'Super User' %>
<%= link_to 'New User', new_user_path %>
<% end %>
