<h2><i class="glyphicon glyphicon-info-sign"> Show User</i></h2>

<p id="notice"><%= notice %></p>

<table class="table table-hover">
	<caption>User Information</caption>
  <tr>
    <th>KEY</th>
    <th>VALUE</th>
  </tr>

  <tr>
    <td>Provider</td>
    <td><%= @user.provider %></td>
  </tr>

  <tr>
    <td>User ID</td>
    <td><%= @user.uid %></td>
  </tr>

  <tr>
    <td>Screen Name</td>
    <td><%= @user.screen_name %></td>
  </tr>

  <tr>
    <td>Name</td>
    <td><%= @user.name %></td>
  </tr>
</table>

<table class="table table-hover">
	<caption>Assignments</caption>
	<tr>
		<th>ROLE</th>
		<th>ORGANIZATION</th>
		<th>START DATE</th>
		<th>END DATE</th>
		<th>STATUS</th>
	</tr>

	<% @assignments.each do |assignment| %>

	<tr>
		<td><%= assignment.role.name %></td>
		<td><%= assignment.organization.name %></td>
		<td><%= assignment.start_date %></td>
		<td><%= assignment.end_date %></td>
		<td><%= assignment.status %></td>
	</tr>

	<% end %>
</table>

<table class="table table-hover">
	<caption>Hosting Events</caption>
	<tr>
		<th>EVENT NAME</th>
		<th>DESCRIPTION</th>
		<th>LOCATION</th>
		<th>START TIME</th>
		<th>END TIME</th>
		<th>STATUS</th>
		<th>HOSTED BY</th>
	</tr>

	<% @events.each do |event| %>
	<tr>
		<td><%= event.name %></td>
		<td><%= event.description %></td>
		<td><%= event.location %></td>
		<td><%= event.start_time %></td>
		<td><%= event.end_time %></td>
		<td><%= event.status %></td>
		<td><%= event.user.name %></td>
	</tr>
	<% end %>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
