<div class='tab'>

<%= form_for(@statement) do |f| %>
  <% if @statement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@statement.errors.count, "error") %> prohibited this statement from being saved:</h2>

      <ul>
      <% @statement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<table class="table table-hover">
		<tr>
			<th>KEY</th>
			<th>VALUE</th>
		</tr>

		<tr>
			<td>Type</td>
			<td><%= f.select(:statement_type_id, @statement_types.map{|t|[t.name, t.id]}) %></td>
		</tr>

		<tr>
			<td>Name</td>
			<td><%= f.text_field(:name) %></td>
		</tr>

		<tr>
			<td>Calendar</td>
			<td><%= f.select(:calendar_id, @calendars.map{|t|[t.calendar_type, t.id]}) %></td>
		</tr>

		<tr>
			<td>Created at</td>
			<td><%= f.datetime_select :created_at %></td>
		</tr>

		<tr>
			<td>Updated at</td>
			<td><%= f.datetime_select :updated_at %></td>
		</tr>
	</table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
