<p id="notice"><%= notice %></p>

<h2><i class="glyphicon glyphicon-list-alt"> Dashboard</i></h2>

<table class="table">
  <thead>
    <tr>
			<th>ORGANIATION NAME</th>
			<th>DESCRIPTION</th>
			<th>STATUS</th>
			<th>ACTION</th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
				<td><%= organization.name %></td>
				<td><%= organization.description %></td>
				<td></td>
        <td><%= link_to 'Show', organization, class: 'btn btn-primary' %>
        <%= link_to 'Edit', edit_organization_path(organization), class: 'btn btn-primary' %>
        <%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
