<p id="notice"><%= notice %></p>

<h2><i class="glyphicon glyphicon-list-alt"> Dashboard</i></h2>

<%= high_chart("id", @chart) %>

<%= @response %>
<%= @message %>
<%= @code %>
<%= @result %>


<h3>Overall Information</h3>

<table class="table table-hover">
  <thead>
    <tr>
			<th>ORGANIATION NAME</th>
			<th>DESCRIPTION</th>
			<th>STATUS</th>
			<th>M-SCORE / Z-SCORE</th>
			<th>MESSAGE</th>
			<th width="150">ACTION</th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
				<td><%= organization.name %></td>
				<td><%= organization.description %></td>
				<td></td>
				<td>1.0 / 1.0</td>
				<td>Fine</td>
        <td><%= link_to 'Show', organization, class: 'btn btn-primary btn-block' %> 
				<%= link_to 'Comp', organization, class: 'btn btn-primary btn-block' %> 
				<%= link_to 'Time', organization, class: 'btn btn-primary btn-block' %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h3>Financial Ratio</h3>

<ul class="nav nav-tabs">
  <li class="active"><a href="#">Liquidity Ratio</a></li>
  <li><a href="#">Solvency Ratio</a></li>
  <li><a href="#">Profitability Ratio</a></li>
	<li><a href="#">Activity Ratio</a></li>
</ul>

<div id="liquidity">
<table class="table table-hover">
	<thead>
		<tr>
			<th>ORGANIZATION NAME</th>
			<th>CURRENT RATIO</th>
			<th>QUICK RATIO</th>
			<th>CASH RATIO</th>
			<th>CASH CONVERSION CYCLE</th>
		</tr>
	</thead>

	<tbody>
		<% @organizations.each do |organization| %>
			<tr>
				<td><%= organization.name %></td>
				<td>1.0</td>
				<td>1.0</td>
				<td>1.0</td>
				<td>1.0</td>
			</tr>
		<% end %>
	</tbody>
</table>
</div>

<div id="solvency">
<table class="table table-hover">
	<thead>
		<tr>
			<th>ORGANIZATION NAME</th>
			<th>DEBT RATIO</th>
			<th>DEBT TO EQUITY RATIO</th>
			<th>DEBT TO CAPITAL RATIO</th>
			<th>TIMES INTEREST EARNED RATIO</th>
		</tr>
	</thead>

	<tbody>
		<% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td>1.0</td>
				<td>1.0</td>
				<td>1.0</td>
				<td>1.0</td>
      </tr>
    <% end %>
	</tbody>
</table>
</div>


<div id="profitability">
<table class="table table-hover">
  <caption>Profitability Ratios</caption>
  <thead>
    <tr>
      <th>ORGANIZATION NAME</th>
      <th>NET PROFIT MARGIN</th>
			<th>GROSS PROFIT MARGIN</th>
			<th>OPERATING PROFIT MARGIN</th>
			<th>RETURN ON ASSETS</th>
			<th>RETURN ON CAPITAL EMPLOYED</th>
			<th>RETURN ON EQUITY</th>
			<th>EARNINGS PER SHARE</th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td>1.0</td>
				<td>1.0</td>
				<td>1.0</td>
				<td>1.0</td>
				<td>1.0</td>
				<td>1.0</td>
				<td>1.0</td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div id="activity">
<table class="table table-hover">
  <caption>Activity Ratios</caption>
  <thead>
    <tr>
      <th>ORGANIZATION NAME</th>
      <th>INVENTORY TURNOVER RATIO</th>
			<th>RECEIVABLES TURN OVER RATIO</th>
			<th>PAYABLES TURNOVER RATIO</th>
			<th>FIXED ASSET TURNOVER RATIO</th>
			<th>WORKING CAPITAL TURNOVER RATIO</th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td>1.0</td>
				<td>1.0</td>
				<td>1.0</td>
				<td>1.0</td>
				<td>1.0</td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<h3>Financial Statements</h3>

<%= form_tag(home_index_path) do |f| %>
<table class="table table-hover">
	<thead>
		<tr>
			<th>ORGANIZATION NAME</th>
			<th>FISCAL YEAR</th>
			<th>QUARTER</th>
			<th width="150">ACTION</th>
		</tr>
	</thead>

	<tbody>
		<% @organizations.each do |organization| %>
			<tr>
				<td><%= organization.name %></td>
				<td><%= select_tag 'organization', options_for_select(['2016', '2015', '2014']) %></td>
				<td><%= select_tag 'organization', options_for_select(['Q1', 'Q2', 'Q3', 'Q4']) %></td>
				<td><%= submit_tag "Download", class: 'btn btn-primary btn-block' %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<% end %>

