<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<table class="table table-hover">
		<tr>
			<th>KEY</th>
			<th>VALUE</th>
		</tr>

		<tr>
			<td>Name</td>
			<td><%= f.text_field :name %></td>
		</tr>

		<tr>
			<td>Description</td>
			<td><%= f.text_area :description %></td>
		</tr>

		<tr>
			<td>Location</td>
			<td><%= f.text_field :location %></td>
		</tr>

		<tr>
			<td>Start Time</td>
			<td><%= f.datetime_select :start_time %></td>
		</tr>

		<tr>
			<td>End Time</td>
			<td><%= f.datetime_select :end_time %></td>
		</tr>

		<tr>
			<td>Status</td>
			<td><%= f.number_field :status %></td>
		</tr>

		<tr>
			<td>User ID</td>
			<td><%= f.number_field :user_id %></td>
		</tr>
	</table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
