<div class='tab'>

<%= form_for(@ledger) do |f| %>
  <% if @ledger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ledger.errors.count, "error") %> prohibited this ledger from being saved:</h2>

      <ul>
      <% @ledger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<table class="table table-hover">
		<tr>
			<th>KEY</th>
			<th>VALUE</th>
		</tr>

		<tr>
			<td>Statement Type</td>
			<td><%= f.number_field :statement_id %></td>
		</tr>

		<tr>
			<td>Ledger Type</td>
			<td><%= f.number_field :ledger_type_id %></td>
		</tr>

		<tr>
			<td>Account</td>
			<td><%= f.text_field :account %></td>
		</tr>

		<tr>
			<td>Amount</td>
			<td><%= f.text_field :amount %></td>
		</tr>

		<tr>
			<td>Created at</td>
			<td><%= f.datetime_select :created_at %></td>
		<tr>

		<tr>
			<td>Updated at</td>
			<td><%= f.datetime_select :updated_at %></td>
		</tr>
	</table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
