<p id="notice"><%= notice %></p>

<h1>Listing Ledgers</h1>

<table>
  <thead>
    <tr>
      <th>Calendar</th>
      <th>Type</th>
      <th>Account</th>
      <th>Amount</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ledgers.each do |ledger| %>
      <tr>
        <td><%= ledger.calendar_id %></td>
        <td><%= ledger.type %></td>
        <td><%= ledger.account %></td>
        <td><%= ledger.amount %></td>
        <td><%= ledger.created_at %></td>
        <td><%= ledger.updated_at %></td>
        <td><%= link_to 'Show', ledger %></td>
        <td><%= link_to 'Edit', edit_ledger_path(ledger) %></td>
        <td><%= link_to 'Destroy', ledger, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ledger', new_ledger_path %>
