<div class='tab'>

<%= form_for(@ledger_account) do |f| %>
  <% if @ledger_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ledger_account.errors.count, "error") %> prohibited this ledger_account from being saved:</h2>

      <ul>
      <% @ledger_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<table class='table table-hover'>
		<tr>
			<th>KEY</th>
			<th>VALUE</th>
		</tr>

		<tr>
			<td>Account</td>
			<td><%= f.select(:ledger_id, @ledgers.map{|t|[t.account, t.id]}) %></td>
		</tr>

		<tr>
			<td>Mapping</td>
			<td><%= f.select(:account_id, @accounts.map{|t|[t.name,t.id]}) %></td>
		</tr>
	</table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
