<h2><i class="glyphicon glyphicon-list-alt"> Data Mapping</i></h2>

<p id="notice"><%= notice %></p>


<div class='row'>

<div class='col-md-4'>
<div class='box'>
<div class='box-header'>ASSET</div>
<div class='box-content'>
<table class='table table-hover'>
	<thead>
		<tr>
		<th>Account Name</th>
		<th>Mapping</th>
		<th>Action</th>
		</tr>
	</thead>

	<tbody>
		<% @asset_list.each do |ledger_account| %>
		<tr>
			<td><%= ledger_account.ledger.account %></td>
			<td><%= ledger_account.account.name %></td>
      <td><%= link_to 'Show', ledger_account, class: "btn btn-primary btn-block" %>
			<%= link_to 'Edit', edit_ledger_account_path(ledger_account, account_type: 1), class: "btn btn-primary btn-block" %>
			<%= link_to 'Destroy', ledger_account, method: :delete, data: {confirm: 'Are you sure?' },  class: "btn btn-primary btn-block" %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<%= link_to 'New Ledger account', new_ledger_account_path(account_type: 1) %>
</div>
</div>
</div>

<div class='col-md-4'>
<div class='box'>
<div class='box-header'>LIABILITY</div>
<div class='box-content'>
<table class='table table-hover'>
  <thead>
    <tr>
    <th>Account Name</th>
    <th>Mapping</th>
		<th>Action</th>
    </tr>
  </thead>

  <tbody>
		<% @liab_list.each do |ledger_account| %>
    <tr>
      <td><%= ledger_account.ledger.account %></td>
      <td><%= ledger_account.account.name %></td>
			<td><%= link_to 'Show', ledger_account, class: "btn btn-primary btn-block" %>
      <%= link_to 'Edit', edit_ledger_account_path(ledger_account, account_type: 2), class: "btn btn-primary btn-block" %>
      <%= link_to 'Destroy', ledger_account, method: :delete, data: {confirm: 'Are you sure?' }, class: "btn btn-primary btn-block" %></td>
    </tr>
		<% end %>
  </tbody>
</table>
<%= link_to 'New Ledger account', new_ledger_account_path(account_type: 2) %>
</div>
</div>
</div>

<div class='col-md-4'>
<div class='box'>
<div class='box-header'>EQUITY</div>
<div class='box-content'>
<table class='table table-hover'>
  <thead>
    <tr>
    <th>Account Name</th>
    <th>Mapping</th>
		<th>Action</th>
    </tr>
  </thead>

  <tbody>
		<% @equity_list.each do |ledger_account| %>
    <tr>
      <td><%= ledger_account.ledger.account %></td>
      <td><%= ledger_account.account.name %></td>
			<td><%= link_to 'Show', ledger_account, class: "btn btn-primary btn-block" %>
      <%= link_to 'Edit', edit_ledger_account_path(ledger_account, account_type: 3), class: "btn btn-primary btn-block" %>
      <%= link_to 'Destroy', ledger_account, method: :delete, data: {confirm: 'Are you sure?' }, class: "btn btn-primary btn-block" %></td>
    </tr>
		<% end %>
  </tbody>
</table>
<%= link_to 'New Ledger account', new_ledger_account_path(account_type: 3) %>
</div>
</div>
</div>

</div>


<div class='row'>

<div class='col-md-6'>
<div class='box'>
<div class='box-header'>EXPENSE</div>
<div class='box-content'>
<table class='table table-hover'>
  <thead>
    <tr>
    <th>Account Name</th>
    <th>Mapping</th>
		<th>Action</th>
    </tr>
  </thead>

  <tbody>
		<% @expense_list.each do |ledger_account| %>
    <tr>
      <td><%= ledger_account.ledger.account %></td>
      <td><%= ledger_account.account.name %></td>
			<td><%= link_to 'Show', ledger_account, class: "btn btn-primary btn-block" %>
      <%= link_to 'Edit', edit_ledger_account_path(ledger_account, account_type: 4), class: "btn btn-primary btn-block" %>
      <%= link_to 'Destroy', ledger_account, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-primary btn-block" %></td>
    </tr>
		<% end %>
  </tbody>
</table>
<%= link_to 'New Ledger account', new_ledger_account_path(account_type: 4) %>
</div>
</div>
</div>

<div class='col-md-6'>
<div class='box'>
<div class='box-header'>REVENUE</div>
<div class='box-content'>
<table class='table table-hover'>
  <thead>
    <tr>
    <th>Account Name</th>
    <th>Mapping</th>
		<th>Action</th>
    </tr>
  </thead>

  <tbody>
		<% @revenue_list.each do |ledger_account| %>
    <tr>
      <td><%= ledger_account.ledger.account %></td>
      <td><%= ledger_account.account.name %></td>
			<td><%= link_to 'Show', ledger_account, class: "btn btn-primary btn-block" %>
      <%= link_to 'Edit', edit_ledger_account_path(ledger_account, account_type: 5), class: "btn btn-primary btn-block" %>
      <%= link_to 'Destroy', ledger_account, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-primary btn-block" %></td>
    </tr>
		<% end %>
  </tbody>
</table>
<%= link_to 'New Ledger account', new_ledger_account_path(account_type: 5) %>
</div>
</div>
</div>

</div>

