<h2><i class="glyphicon glyphicon-list-alt"> Mapping Ledgers</i></h2>

<p id="notice"><%= notice %></p>


<div class='tab'>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Ledger</th>
      <th>Account</th>
			<th width="150"></th>
    </tr>
  </thead>

  <tbody>
    <% @ledger_accounts.each do |ledger_account| %>
      <tr>
        <td><%= ledger_account.ledger_id %></td>
        <td><%= ledger_account.account_id %></td>
        <td><%= link_to 'Show', ledger_account, class: "btn btn-primary btn-block" %></td>
        <%= link_to 'Edit', edit_ledger_account_path(ledger_account), class: "btn btn-primary btn-block" %></td>
        <%= link_to 'Destroy', ledger_account, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-block" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<%= link_to 'New Ledger account', new_ledger_account_path %>
