<div class='tab'>

<%= form_for(@calendar) do |f| %>
  <% if @calendar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calendar.errors.count, "error") %> prohibited this calendar from being saved:</h2>

      <ul>
      <% @calendar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<table class="table table-hover">
		<tr>
			<th>KEY</th>
			<th>VALUE</th>
		</tr>

		<tr>
			<td>Type</td>
			<td><%= f.text_field :calendar_type %></td>
		</tr>

		<tr>
			<td>From</td>
			<td><%= f.date_select :from %></td>
		</tr>

		<tr>
			<td>To</td>
			<td><%= f.date_select :to %></td>
		</tr>

		<tr>
			<td>Created at</td>
			<td><%= f.datetime_select :created_at %></td>
		</tr>

		<tr>
			<td>Updated at</td>
			<td><%= f.datetime_select :updated_at %></td>
		</tr>
	</table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
