<h2><i class="glyphicon glyphicon-info-sign"> Show Calendar</i></h2>

<p id="notice"><%= notice %></p>

<div class='tab'>

<table class="table table-hover">
	<caption>Calendar Information</caption>

	<tr>
		<th>KEY</th>
		<th>VALUE</th>
	</tr>

	<tr>
		<td>Type</td>
		<td><%= @calendar.calendar_type %></td>
	</tr>

	<tr>
		<td>From</td>
		<td><%= @calendar.from %></td>
	</tr>

	<tr>
		<td>To</td>
		<td><%= @calendar.to %></td>
	</tr>

	<tr>
		<td>Created at</td>
  	<td><%= @calendar.created_at %></td>
	</tr>
	
	<tr>
		<td>Updated at</td>
		<td><%= @calendar.updated_at %></td>
	</tr>
</table>

</div>

<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
