<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<table class="table table-hover">
		<tr>
			<th>KEY</th>
			<th>VALUE</th>
		</tr>

		<tr>
			<td>Name</td>
			<td><%= f.text_field :name %></td>
		</tr>

		<tr>
			<td>Description</td>
			<td><%= f.text_area :description %></td>
		</tr>

		<tr>
			<td>Status</td>
			<td><%= f.select(:status_id, @statuses.map{|t|[t.name, t.id]}) %>
		</tr>
	</table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
