<h2><i class="glyphicon glyphicon-tasks"> Role List</i></h2>

<p id="notice"><%= notice %></p>

<table class="table table-hover">
  <thead>
    <tr>
			<th>NAME</th>
			<th>DESCRIPTION</th>
			<th>STATUS</th>
			<th width="150">ACTION</th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
				<td><%= role.name %></td>
				<td><%= role.description %></td>
				<td><%= role.status.name %></td>
        <td><%= link_to 'Show', role, class: "btn btn-primary btn-block" %>
        <%= link_to 'Edit', edit_role_path(role), class: "btn btn-primary btn-block" %>
        <%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-block" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Role', new_role_path %>
