<%= form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<table class="table table-hover">

		<tr>
			<th>KEY</th>
			<th>VALUE</th>
		</tr>

		<tr>
			<td>Name</td>
			<td><%= f.text_field :name %></td>
		</tr>
	
		<tr>
			<td>Description</td>
			<td><%= f.text_area :description %></td>
		</tr>

		<tr>
			<td>Industry</td>
			<td><%= f.text_field :industry %></td>
		</tr>

		<tr>
			<td>Number of Employees</td>
			<td><%= f.number_field :employee_num %></td>
		</tr>

		<tr>
			<td>Status</td>
			<td><%= f.select(:status_id, @statuses.map{|t|[t.name, t.id]}) %>
		</tr>
	</table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
