<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NASEBANAL Business Platform</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">NASEBANAL Business Platform</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        <% if current_user %>
          <ul class="nav navbar-nav">
						<li><%= link_to 'Members', members_path %></li>
						<li><%= link_to 'Events', events_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Setting <span class="caret"></span></a>
              <ul class="dropdown-menu">
								<li><%= link_to 'User Setting', users_path %></li>
								<li><%= link_to 'Event Setting', events_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to 'Role Setting', roles_path %></li>
								<li><%= link_to 'Assignment Setting', assignments_path %></li>
								<li><%= link_to 'Organization Setting', organizations_path %></li>
              </ul>
            </li>
          </ul>
        <% end %>

          <form class="navbar-form navbar-right">
            <% if current_user %>
              <font color="white"><%= current_user.name %></font> <%= link_to logout_path, class: 'btn btn-primary' do %>
								<i class="glyphicon glyphicon-remove"> Logout</i>
							<% end %>

            <% else %>
						<%= link_to login_qb_path, class: 'btn btn-primary' do %>
							<i class="glyphicon glyphicon-ok"> Login</i>
						<% end %>
            <% end %>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>


    <div id="content">

      <%= yield %>

      <hr>

      <footer>
        <p>&copy; NASEBANAL 2015</p>
      </footer>

    </div> <!-- /container -->

</body>
</html>
